body{
    background: #106d8a;
    box-sizing: border-box;
}

*,*:before,*:after{
    box-sizing: inherit;
}

.outter-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.main{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px ;
    border-top: 1px solid #e4c439;
    border-bottom: 1px solid #e4c439;
    border-radius: 10px;
    box-shadow: 0 5px 8px rgba(39, 35, 35, 0.16), 0 5px 8px rgba(29, 27, 27, 0.23);
    background: #5bb0ca;
    border-color: #e4c439;

}

.main>img{
    width: 400px;
    height: 400px;
    margin: auto auto;
}

.dato{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(218, 105, 105);
    margin: 5px 10px;
    border-radius: 15px;
    border-bottom: 1px solid antiquewhite;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
}

h2{
    font-family: 'Press Start 2P';
    color: #e4c439;
}

.dato >p{
    font-family: 'Press Start 2P';
    font-size: 14px;
    color: rgb(32, 27, 27);
}

.catch-options{
    width: fit-content;
    margin: 50px auto;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.catch-options>.option{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #e4c439;
    
    border-radius: 10px;
    border: 1px solid #e4c439;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.2);
    
    padding: 15px 15px;
    margin: 5px 5px;

    cursor: pointer;
}


.catch-options>.option>a{
    font-family: 'Press Start 2P';
    font-size: 22px;
    color: rgb(32, 27, 27);
    text-decoration: none;
}